p,
label {
  font: 1rem "Fira Sans", sans-serif;
}

input {
  margin: 0.4rem;
}

.sidebar {
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: lavender;
  overflow-x: hidden;
  padding-top: 20px;
}

.content {
  margin-left: 160px;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
}

.active {
  font-weight: bold;
  color: lightseagreen;
}
.letter-style{
  font-size: large;
  font-weight: bold;
}
.month{
  color: darkblue;
  font-weight: bold;
}
.info{
  font-weight: bold;
  font-size: 18px;
}
